.button{
    width: 150px;
    padding: 0;
    height: 30px;
    border-radius: 5px;
    background-color: $main-color;
    border: none;
    color: #ffffff;
    font-size: 12px;
    font-weight: 500;
    text-transform: uppercase;
    transition: 0.5s all;
    &:focus {
        outline: none;
        }
    &:hover{
        box-shadow: 3px 3px 20px $main_color;
        border: none
    }
    &_main{
        margin-top: 67px;
        width: 300px;
        height: 50px;
        font-size: 16px;
    }
    &_submit{
        width: 300px;
        height: 50px;
        font-size: 16px;
    }
    &_mini{
        width: 131px;
        height: 40px;
        font-size: 14px;
    }
}